<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Your Page Title Here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="style/app.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
  <div id="main-region" style="height: 600px;"></div>

  <script type="test/template" id="chart-template">
    <h1><%= headline %></h1>
    <div id="chart"></div>
  </script>

  <script src="../lib/jquery.js"></script>
  <script src="../lib/underscore.js"></script>
  <script src="../lib/backbone.js"></script>
  <script src="../lib/d3.js"></script>
<!--
  <script src="../src/d3bb.js"></script>
  <script src="../src/chart_base.js"></script>
  <script src="../src/chart_bar.js"></script>
  <script src="../build/d3bb.js"></script>
-->
  <script src="../src/d3bb.js"></script>
  <script src="../src/chart_base.js"></script>
  <script src="../src/chart_bar.js"></script>

  <script>
    var data = new Backbone.Collection([
      {x:"A", y:100},
      {x:"B", y:123},
      {x:"C", y:149},
      {x:"D", y:212},
      {x:"E", y:96 },
      {x:"F", y:239},
      {x:"G", y:308},
      {x:"H", y:357},
      {x:"I", y:378},
      {x:"J", y:417},
    ]);

    var barchartView = new d3bb.ChartBarView({
      collection: data,
      xAttr: "x",
      yAttr: "y",
      barPadding: 0.3,
      el: "#main-region",
      template: "#chart-template",
      templateText: {
        headline: "This is a Bar Chart"
      }
    });
    barchartView.render();
  </script>
</body>
</html>
