#chart {
  width: 600px;
  height: 600px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdgeds;
}

.axis text {
  font-family: sans-serif;
  font-size: 12pt;
}

path.line {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

text.data-label {
  font-family: sans-serif;
  fill: white;
}